*,
*::after,
*::before { 
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
 }



body {
  background:#0d0d0d;
  /* min-height:100vh; */
}


/* .glow-container {
  overflow-x:hidden;
  overflow-y: hidden;
  position:fixed;
  
  width:100%;
  
} */

:root {
  --dark: #0d0d0d;
  --green-1: rgb(38, 140, 1);
  --green-2: #00ff00;;
}



#language {
  color: rgb(38, 140, 1);
  display: flex;
  margin-left: 20%;
  justify-content: center;
}

.container-main {
    color: var(--green-1);
    margin: 10% 10% 5% 10%;
    /* font-family: "Lucida Console", "Courier New"; */
    font-family:"Chakra Petch", "Handjet", "Pixelify Sans", "Courier New";
    /* font-family: monospace; */
    display: flex;
   height: auto;
}
.left-side {
    width: 50%;
    margin:5% 3% 5% 8% ;
}

.greeting-block {
  min-height: 8rem;
  color: var(--green-2);
}
.greeting-rows {
  display: block;
  line-height: 0.3rem;
}
.greeting-hello {
  font-size: 35px;
}

.username {
  font-size: 35px;
  display: flex;
  width: auto;
  line-height: 3rem;
}
.about-work {
  display: none;
  margin-top: 15%; 
}
 .tablinks:hover{
    color: var(--green-2);
  
}
.work-link {
  color: var(--green-2);
  text-decoration: none;
  border-bottom: 1px dashed;
}
.about-mobile, .work-mobile {
  visibility: hidden;
}
.about, .work {
  border: none;
  color: var(--green-1);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  background-color: transparent; 

}
.about-work button.active {
  color: var(--green-2);
  font-size: 25px;
}
.technologies {
  color: var(--green-1);
}

.cursor {
  width: auto;
  align-items: end; 
  &:after{
    content: "|";
    animation: blink 400ms linear infinite alternate; 
   }
}
@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.social-link {
  margin-top: 20vmin;
  display: none;
  height: calc(20% - 100px); 
}

.social-link button  {
  cursor: pointer;
  background-color: var(--dark);
  color: var(--green-1);
  border: none;
}
.social-link button a {
color: var(--green-1);
}
.contact {
  float: left;
  overflow: hidden;
}

.contact-content {
  display: none;
  position: absolute;
}

.contact:hover .contact-content {
  display: block;
}

 .social-link i:hover {
 color: var(--green-2);

}
/* @keyframes mymove {
  0%   { background: #0d0d0d;}
} */


/* RIGHT-SIDE */

.right-side {
  width: 50%;
  display: none;
  margin:0 8% 5% 3% ;
  align-items: center; 
  display: flex;
}

.vertical-line  {
  border-left: 1px dashed  var(--green-1);
  height: 500px;
  padding-right: 5%;
  display: none;
}


.description {
  margin-top: 20%;
  justify-content: center;
  display: none;
  padding: 5% 5%;
  height: 500px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}



/* RESPONSIVE */

@media only screen and (max-width: 992px) {

    .greeting-hello, .username {
      font-size: 28px;
    }
    #vertical-line {
      display: none;
      visibility: hidden;
      padding: 0;
      width: 0;
    }

  .container-main{
    display: block;
    margin: 20% 10% 5% 10%;
    /* min-height: 1050px; */
      min-height: 120vh;
    }
  .left-side  {
    width: 100%;
    margin: 5% 0 5% 0;
  }
  .right-side {
    width: 100%;
    margin: 5% 0 5% 0;
  }

  .about-work {
    visibility: hidden;
    height: 0;
    margin: 0;
  }

  .about-mobile, .work-mobile {
    display: block;
    visibility: visible;
  }
  .work-mobile{
    margin-bottom: 5%;
  }
  .description {
    padding-left: 0;
    overflow-y: visible;
  }
} 


















            



